version: "3.8"

services:
  postgres:
    container_name: postgres
    image: postgres:15
    command: postgres -c max_connections=1000
    restart: always
    networks:
      - evolution-net
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: evolution
      POSTGRES_USER: evolution
      POSTGRES_PASSWORD: 1234
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    restart: always
    networks:
      - evolution-net
    ports:
      - "4000:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: eduardo-henrique-rocha@hotmail.com
      PGADMIN_DEFAULT_PASSWORD: 1234
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres

volumes:
  postgres_data:
  pgadmin_data:

networks:
  evolution-net:
    driver: bridge
