services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    networks:
      - evolution-net
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: evolution
      POSTGRES_USER: evolution
      POSTGRES_PASSWORD: 1234
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    restart: always
    networks:
      - evolution-net
    ports:
      - "6379:6379"
    volumes:
      - evolution_redis:/data

  evolution-api:
    image: atendai/evolution-api:2.3.7
    container_name: evolution_api
    restart: always
    networks:
      - evolution-net
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - evolution_instances:/evolution/instances
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
  evolution_redis:
  evolution_instances:

networks:
  evolution-net:
    driver: bridge
